<!DOCTYPE html>
<html>
<head>
	<title>Chauffage</title>
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="expires" content="0">
	<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/graph-style.css" rel="stylesheet" type="text/css" media="all" />
	
    <script src="/static/jquery.js"></script>
    <script src="/static/highcharts.js"></script>
    {% if chart_series %}
        <script>
		    var dt = new Date()
       		timezone_offset = dt.getTimezoneOffset() * 60 * 1000
            $(function () { 
                $('#container').highcharts({
                    title: {
                        text: "Temperature heure par heure pour chaque capteur - De {{date_min}} à {{date_max}}"
                    },
                    chart: {
                        backgroundColor:'transparent',
                        zoomType: 'x',
                        panning: true
                    },
                    credits: {
                        enabled: false
                    },
                    xAxis: {
                        type: 'datetime',
                        title: {
                            text: 'Date'
                        }
                    },
                    yAxis: {
                        title: {
                            text: 'Temperature'
                        },
                        min:12.5,
                        max:27.5,
                        plotLines: [{
                            value: 0,
                            width: 1,
                            color: '#808080'
                        }]
                    },
                    rangeSelector: {
                        selected: 1
                    },
                    tooltip: {
                        valueSuffix: '°C'
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle',
                        borderWidth: 0
                    },
                    series: [
                        {% for key,value in chart_series.items %}
                            {
                            pointInterval: 3600 * 1000,
                            name: '{{key}}',
                            pointStart: Date.UTC({{year}}, {{month}}-1, {{day}})-timezone_offset,
                            data : {{value}}
                            },
                        {% endfor %}
                        ]
                });
            });
        </script>
    {% endif %}
</head>

<body>
<div id='container' class="styled-graph"></div>
</body>
</html>
