<!DOCTYPE html>
<html>
<head>
	<title>Chauffage</title>
	<meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
	<meta http-equiv="content-style-type" content="text/css">
	<meta http-equiv="expires" content="0">
	<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/table-style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/static/select-style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
<div id="header" class="container">
	<div id="logo">
		<h1><a href="#">Chauffage</a></h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="/hc" accesskey="1" title="">Homepage</a></li>
			<li class="current_page_item"><a href="#" accesskey="2" title="">Programmation</a></li>
			<li><a href="/hc/stats" accesskey="3" title="">Statistiques</a></li>
		</ul>
	</div>
</div>
<div id="welcome" class="wrapper-style1">
	<div class="title">
		<h2>Règles</h2>
		<span class="byline">Paramétrage par pièces</span> </div>
</div>
<div id="page">
	<div id="content" class="container">
		<table id="rounded-corner" summary="Règles de température par pièce">
			<form action="/hc/ruleset" method="post">
			{% csrf_token %}
			<thead>
				<tr><th scope="col" class="rounded-company">Pièce</th><th scope="col" class="rounded-q4">Règle applicable</th></tr>
			</thead>
			<tfoot>
				<tr>
	        	<td colspan="1" class="rounded-foot-left"></td>
	        	<td class="rounded-foot-right">&nbsp;
    				{% if user.is_authenticated %}
    				    <div align="right"><input type="submit" class="button" value="Enregistrer" /></div>
    				{% else %}
    				    <div>Il faut être <a href="/hc/login?next=/hc/ruleset">connect&eacute;</a> pour modifier les règles</div>
    				{% endif %}
	        	</td>
				</tr>
			</tfoot>
			<tbody>
			{% if sensor_list %}
				{% for sensor in sensor_list %}
					<tr>
						<td>{{ sensor.room_name }}</td>
						<td><div class="styled-select">
					    {% if user.is_authenticated %}
                    	    <select name="{{ sensor.id }}">
                    	{% else %}
                    	    <select disabled name="{{ sensor.id }}">
                    	{% endif %}
                	        {% for ruleset in ruleset_list %}
						        <option value="{{ ruleset.id }}" {% if sensor.ruleset = ruleset %}selected{% endif %}>{{ ruleset.name }}</option>
					        {% endfor %}
					        <option value="" {% if sensor.ruleset == None %}selected{% endif %}> </option>
					    </select>
						</div></td>
					</tr>
				{% endfor %}
			{% else %}
				<tr><td colspan="2"><em>Pas de capteur détecté</em></td></tr>
			{% endif %}
			</tbody>
			</form>
		</table>
	</div>
	<div id="sidebar"></div>
</div>
<div id="footer" class="container">
	<p>Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
